<ion-view view-title="DSM: Welcome to Flickr">
		<ion-content style="text-align: center;" class="welcome">
			<br/>
			<div class="welcome-info">
			<h3>Find your inspiration.</h3>
			<h4>Connect to the world through billions of beautiful images.</h4>
						<input type="text" placeholder="Username">

			</div>
			<div class="ic-selected" data-componentid="image1" data-tap-disabled="true">
			</div>
			<button menu-toggle="left" class="button button-calm">Get Images</button>
		</ion-content>
</ion-view>